

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: #83E1AD;
}
header{
    background-image: linear-gradient(to top, #063D1E, #2FA866);
    text-align: center;
    color: white;
    padding-top: 30px;

    
}
nav{
    text-align: left;
    color: white;
    text-decoration: none;    
}
li{
    display: inline-block;
    padding-right: 10px;
    
    
}
nav ul{
    padding: 10px;
}
nav a{
    color: white;
    text-decoration: none;   
}
main{
    background-color: white;
    margin: 100px;
    margin-top: 0px;
    margin-bottom: 20px;
    border-radius: 0px 0px 8px 8px;
}
m
#cabeçalho{
    color: white;
}
footer{
    background-color: #063D1E;
    color: white;
    text-align: center;
    padding: 5px;
}
article h3{
    background-image: linear-gradient(90deg, #60d796 , white  );
    color: white;
    text-decoration: solid;
}
