@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;600&family=Righteous&family=Shadows+Into+Light&family=Varela+Round&family=Work+Sans:ital,wght@0,100;0,300;1,200&family=Zen+Loop&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100&family=Poppins:wght@100;600&family=Righteous&family=Shadows+Into+Light&family=Varela+Round&family=Work+Sans:ital,wght@0,100;0,300;1,200&family=Zen+Loop&display=swap');



:root{
    --fonte-destaque: 'Poppins', sans-serif;
    --fonte-textos: 'Barlow Semi Condensed', sans-serif;
    --cor1: rgb(228, 159, 56);
    --cor2: rgb(0, 48, 97);
}


*{
    padding: 0;
    margin: 0;
   
}

body{
    background-color: rgb(176, 214, 234);
     
     
}

h1, p, h2, li{
    margin-right: 20px;
    margin-left: 20px;
    
}
h1,h2{
    font-family: var(--fonte-destaque);
    font-weight: 600;
}
p{
    font-family: var(--fonte-textos);
}

main h1{
    color: var(--cor1);
   
}


.menuesquerda{    
    width: 70%;
    background-color: var(--cor2);    
    color: #fff;
    text-align: justify;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-width: 100px;
       
}
.main-content{
   
    margin: auto;
    display: flex;
    flex-direction: row;   
    justify-content: space-between; 
    min-width: 300px;
    max-width: 700px; 
    
}

.menuesquerda h1{
    margin-top: 20px;
}

.aspas{
    color: var(--cor1) ;
    font-size: 80px;
    margin: 33px;
    margin-bottom: -20px;
    text-align: center;
    font-family: none;
   
}

.fotoperfil img{
    display: flex;
    width: 70%; 
    margin: auto;
    margin-top: 20px;
    margin-bottom: 60px;
    border-radius: 50%;
}
.contacto{
    margin-bottom: 50px;
}
.contacto p{
    text-indent: 10px;
}

.contacto h2{
    padding-top: 55px;
 
}

.redesocial{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 20px;   
    padding: 5px;
    background-color:#fff;
    border-radius: 5px;
   
}

.menudireita{
    width: 100%;
    background-color: #fff;   
    display: flex;
    flex-direction: column ;    
    flex-wrap: wrap;
    display: flex;

}

.menudireita h1{
    margin-top: 20px;
}

.jobdescricao{
    text-align: justify;
}
hr{
    margin: 20px;
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, transparent, var(--cor1), transparent); 
}

.nometrabalho{
    font-weight: bold;
}

.formacao{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.datatrabalho{
    display: flex;
    flex-direction: row;
    font-weight: bold;
}

.jobdata{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.experiencia{
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}







